.locations {
    height: 500px;
    width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url(../images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.locations__titulo {
    font-size: 40px;
    font-weight: bold;
}

.locations__info {
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.locations__box {
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
    opacity: 1;
}